<div class="center hero-unit">
   <h1><%= image_tag("hdr-home.gif", alt: "Football") %></h1>
    <h2>
      
    </h2>
  
  <%= link_to "Sign in", signin_path, class: "btn btn-large btn-primary" %>
</div>