<table class="table table-condensed table-bordered">
				  <caption><h3>Teams Playing Week 12</h3></caption>
					  <thead>
					    <tr>
					    	<th>Wk</th>
					    	<th>Player</th>
					      <th>Pass</th>
					      <th>Rush</th>
					      <th>Special</th>
					      <th>Defense</th>
					      <th>Wins</th>
					      <th>W/L</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr>
					    	<td>12</td>
					    	<td>Player</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>W</td>
					    </tr>
					    <tr>
					    	<td>12</td>
					    	<td>Player</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>W</td>
					    </tr>
					    <tr>
					    	<td>12</td>
					    	<td>Player</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>W</td>
					    </tr>
					    <tr>
					    	<td>12</td>
					    	<td>Player</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>W</td>
					    </tr>
					    <tr>
					    	<td>12</td>
					    	<td>Player</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>W</td>
					    </tr>
					    <tr>
					    	<td>12</td>
					    	<td>Player</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>W</td>
					    </tr>
					    <tr>
					    	<td>12</td>
					    	<td>Player</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>W</td>
					    </tr>
					    <tr>
					    	<td>12</td>
					    	<td>Player</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>W</td>
					    </tr>
					    <tr>
					    	<td>12</td>
					    	<td>Player</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>W</td>
					    </tr>
					    <tr>
					    	<td>12</td>
					    	<td>Player</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>W</td>
					    </tr>
					    <tr>
					    	<td>12</td>
					    	<td>Player</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>W</td>
					    </tr>
					    <tr>
					    	<td>12</td>
					    	<td>Player</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>W</td>
					    </tr>
					    <tr>
					    	<td>12</td>
					    	<td>Player</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>NFL</td>
					    	<td>W</td>
					    </tr>
					  </tbody>
				</table>