<table class="table table-condensed table-bordered">
				  <caption><h3>Trade</h3></caption>
				  <thead>
				    <tr>
				      <th>Team</th>
				      <th>Cat</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>
				      	<select>
								  <option>NE</option>
									<option>MIA</option>
									<option>BUF</option>
									<option>NYJ</option>
									<option>BAL</option>
									<option>PIT</option>
									<option>CIN</option>
									<option>CLE</option>
									<option>HOU</option>
									<option>IND</option>
									<option>TEN</option>
									<option>JAX</option>
									<option>DEN</option>
									<option>SD</option>
									<option>OAK</option>
									<option>KC</option>
									<option>NYG</option>
									<option>PHI</option>
									<option>DAL</option>
									<option>WAS</option>
									<option>CHI</option>
									<option>GB</option>
									<option>MIN</option>
									<option>DET</option>
									<option>ATL</option>
									<option>TB</option>
									<option>NO</option>
									<option>CAR</option>
									<option>SF</option>
									<option>SEA</option>
									<option>ARZ</option>
									<option>STL</option>
								</select>
							</td>
				      <td>
				      	<select>
								  <option>Pass</option>
								  <option>Rush</option>
								  <option>Special</option>
								  <option>Defense</option>
								  <option>Wins</option>
								</select>
							</td>
				    </tr>
				    <tr>
				      <th>To</th>
				      <td>
				      	<select>
								  <option>Porkchop</option>
								  <option>Steve</option>
								  <option>Dan</option>
								  <option>Jim</option>
								  <option>Paul</option>
								  <option>Bill</option>
								  <option>L & M</option>
								  <option>Kevin</option>
								  <option>Ron</option>
								  <option>Dad</option>
								  <option>Bob</option>
								  <option>Jon</option>
								  <option>Pat</option>
								</select>
							</td>
				    </tr>
				    <tr>
				      <th>Week</th>
				      <td>
				      	<select>
								  <option>1</option>
								  <option>2</option>
								  <option>3</option>
								  <option>4</option>
								  <option>5</option>
								  <option>6</option>
								  <option>7</option>
								  <option>8</option>
								  <option>9</option>
								  <option>10</option>
								  <option>11</option>
								  <option>12</option>
								  <option>13</option>
								  <option>14</option>
								  <option>15</option>
								  <option>16</option>
								  <option>17</option>
								</select>
							</td>
				    </tr>
				    <tr>
				    	<th>For</th>
				      <td>
				      	<select>
								  <option>Future</option>
								  <option>Close</option>
							  </select>
							</td>
				    </tr>
				   </tbody>
				</table>
				<p><button class="btn btn-default btn-block btn-success" type="button">Submit</button></p>