<table class="table table-condensed table-bordered">
				  <caption><h3>Trades</h3></caption>
					  
					  <tbody>
					    <tr>
					    	<td>Week 12</td>
					    	<td>Player</td>
					    	<td>-></td>
					    	<td>Player</td>
					    	<td>Detroit Lions</td>
					    	<td>Passing</td>
					    	<td>Future</td>
					    </tr>
					    <tr>
					    	<td>Week 12</td>
					    	<td>Player</td>
					    	<td>-></td>
					    	<td>Player</td>
					    	<td>Oakland Raiders</td>
					    	<td>Rushing</td>
					    	<td>Close Future</td>
					    </tr>
					    <tr>
					    	<td>Week 12</td>
					    	<td>Player</td>
					    	<td>-></td>
					    	<td>Player</td>
					    	<td>Detroit Lions</td>
					    	<td>Passing</td>
					    	<td>Future</td>
					    </tr>
					    <tr>
					    	<td>Week 12</td>
					    	<td>Player</td>
					    	<td>-></td>
					    	<td>Player</td>
					    	<td>Detroit Lions</td>
					    	<td>Passing</td>
					    	<td>Future</td>
					    </tr>
					    <tr>
					    	<td>Week 12</td>
					    	<td>Player</td>
					    	<td>-></td>
					    	<td>Player</td>
					    	<td>Detroit Lions</td>
					    	<td>Passing</td>
					    	<td>Future</td>
					    </tr>
					    <tr>
					    	<td>Week 12</td>
					    	<td>Player</td>
					    	<td>-></td>
					    	<td>Player</td>
					    	<td>Detroit Lions</td>
					    	<td>Passing</td>
					    	<td>Future</td>
					    </tr>
					    <tr>
					    	<td>Week 12</td>
					    	<td>Player</td>
					    	<td>-></td>
					    	<td>Player</td>
					    	<td>Oakland Raiders</td>
					    	<td>Rushing</td>
					    	<td>Close Future</td>
					    </tr>
					    <tr>
					    	<td>Week 12</td>
					    	<td>Player</td>
					    	<td>-></td>
					    	<td>Player</td>
					    	<td>Oakland Raiders</td>
					    	<td>Rushing</td>
					    	<td>Close Future</td>
					    </tr>
					    <tr>
					    	<td>Week 12</td>
					    	<td>Player</td>
					    	<td>-></td>
					    	<td>Player</td>
					    	<td>Oakland Raiders</td>
					    	<td>Rushing</td>
					    	<td>Close Future</td>
					    </tr>
					    <tr>
					    	<td>Week 12</td>
					    	<td>Player</td>
					    	<td>-></td>
					    	<td>Player</td>
					    	<td>Oakland Raiders</td>
					    	<td>Rushing</td>
					    	<td>Close Future</td>
					    </tr>
					    <tr>
					    	<td>Week 12</td>
					    	<td>Player</td>
					    	<td>-></td>
					    	<td>Player</td>
					    	<td>Oakland Raiders</td>
					    	<td>Rushing</td>
					    	<td>Close Future</td>
					    </tr>
					    <tr>
					    	<td>Week 12</td>
					    	<td>Player</td>
					    	<td>-></td>
					    	<td>Player</td>
					    	<td>Oakland Raiders</td>
					    	<td>Rushing</td>
					    	<td>Close Future</td>
					    </tr>
					    <tr>
					    	<td>Week 12</td>
					    	<td>Player</td>
					    	<td>-></td>
					    	<td>Player</td>
					    	<td>Oakland Raiders</td>
					    	<td>Rushing</td>
					    	<td>Close Future</td>
					    </tr>
					  </tbody>
				</table>